* {
  font-family: "Comic Sans MS", cursive;
}

span {
}

.salt {
  color: red;
}

#it {
  font-size: 45px;
  position: fixed;
  top: 40%;
  left: 45%;
  color: blue;
}

.untyped {
  color: rebeccapurple;
}

.first-rounded {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.last-rounded {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.typed {
  color: greenyellow;
}
.behind {
  background: #ff020238;
}

#board {
  /* position: fixed; */
  font-size: 2.5em;
  width: 32em;
  height: 16em;
  margin: 2em;
  /* background: aqua; */

  /* background: aqua; */
}

.word-card {
  position: fixed;
}

.container {
  display: inline;
}
