* {
  font-family: "Comic Sans MS", cursive;
}

span {
  font-size: 1.5em;
}

#it {
  font-size: 45px;
  position: fixed;
  top: 40%;
  left: 45%;
  color: blue;
}

.untyped {
  color: rebeccapurple;
}

.typed {
  color: greenyellow;
}
.behind {
  background: #ff020238;
  border-radius: 25px;
}

#board {
  width: 80em;
  height: 40em;
  margin: 5em;
  /* background: aqua; */
}

.word-card {
  position: fixed;
}

.container {
  display: inline;
}
